{% load static %}

<!-- Profile Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
<!-- CARE SYSTEM Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
        <div class="sidebar-brand-icon">
            <i class="fas fa-home"></i>
        </div>
        <div class="sidebar-brand-text mx-3">CARE SYSTEM</div>
    </a>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Profile Details -->
  <li class="nav-item">
      <a class="nav-link" href="#">
          <i class="fas fa-id-card"></i>
          <span>Profile Details</span>
      </a>
  </li>

  <!-- Documents -->
  <li class="nav-item">
      <a class="nav-link" href="#">
          <i class="fas fa-file-alt"></i>
          <span>Documents</span>
      </a>
  </li>

  <!-- Notifications -->
  <li class="nav-item">
      <a class="nav-link" href="#">
          <i class="fas fa-bell"></i>
          <span>Notifications</span>
      </a>
  </li>

  <!-- Settings -->
  <li class="nav-item">
      <a class="nav-link" href="#">
          <i class="fas fa-cog"></i>
          <span>Settings</span>
      </a>
  </li>

</ul>
